In [1]:
import pandas as pd
import os
print(os.path.abspath('../'))
file_path = os.path.abspath('C:\\Users\\dell 2\\Desktop\\CDA\\ML\\Assignment')
print(file_path)

C:\Users\dell 2\Desktop\CDA
C:\Users\dell 2\Desktop\CDA\ML\Assignment

In [2]:
bank = pd.read_csv(file_path+'/bank-full.csv', ';')

In [3]:
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [4]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import tree, metrics

In [5]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
age          45211 non-null int64
job          45211 non-null object
marital      45211 non-null object
education    45211 non-null object
default      45211 non-null object
balance      45211 non-null int64
housing      45211 non-null object
loan         45211 non-null object
contact      45211 non-null object
day          45211 non-null int64
month        45211 non-null object
duration     45211 non-null int64
campaign     45211 non-null int64
pdays        45211 non-null int64
previous     45211 non-null int64
poutcome     45211 non-null object
y            45211 non-null object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [6]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [7]:
X = bank.drop('y', 1)
y = bank['y'] 
y.head()

0    no
1    no
2    no
3    no
4    no
Name: y, dtype: object

In [46]:
# Features
x = pd.get_dummies(X)
x.tail()

,age,balance,day,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
45206,51,825,17,977,3,-1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
45207,71,1729,17,456,2,-1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
45208,72,5715,17,1127,5,184,3,0,0,0,...,0,0,0,1,0,0,0,0,1,0
45209,57,668,17,508,4,-1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
45210,37,2971,17,361,2,188,11,0,0,1,...,0,0,0,1,0,0,0,1,0,0

### Decision Tree - Gini Index

In [10]:
# Create Decision Tree classifer object
# Decision Tree with Gini IndexPython
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(criterion = "gini", random_state = 100,
                               max_depth=3, min_samples_leaf=5)

In [27]:
# Train Decision Tree Classifer
clf = clf.fit(x,y)

In [28]:
#Predict the response for test dataset
y_pred = clf.predict(x)
y_pred

array(['no', 'no', 'no', ..., 'yes', 'no', 'no'], dtype=object)

In [37]:
print("Accuracy:",metrics.accuracy_score(y, y_pred)*100)

Accuracy: 90.13072039990267

In [38]:
# Confusion Matrix
from sklearn.metrics import confusion_matrix 
print("Confusion Matrix:",
      confusion_matrix(y, y_pred))

Confusion Matrix: [[38904  1018]
 [ 3444  1845]]

### With Different Parameters

In [92]:
# Create Decision Tree classifer object
# Decision Tree with Gini IndexPython
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(criterion = "gini", random_state = 100,
                               max_depth=4, min_samples_leaf=5)

In [93]:
# Train Decision Tree Classifer
clf = clf.fit(x,y)

#Predict the response for test dataset
y_pred = clf.predict(x)
y_pred

In [98]:
print("Accuracy:",metrics.accuracy_score(y, y_pred)*100)

# Confusion Matrix
from sklearn.metrics import confusion_matrix 
print("Confusion Matrix:",
      confusion_matrix(y, y_pred))

Accuracy: 90.22361814602641
Confusion Matrix: [[39093   829]
 [ 3591  1698]]

### With Different Parameters

In [103]:
# Create Decision Tree classifer object

# Adding max_leaf_nodes
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(criterion = "gini", random_state = 100,
                               max_depth=4, min_samples_leaf=5,max_leaf_nodes=6)

# Train Decision Tree Classifer
clf = clf.fit(x,y)

#Predict the response for test dataset
y_pred = clf.predict(x)
y_pred

array(['no', 'no', 'no', ..., 'yes', 'no', 'no'], dtype=object)

In [104]:
print("Accuracy:",metrics.accuracy_score(y, y_pred)*100)

# Confusion Matrix
from sklearn.metrics import confusion_matrix 
print("Confusion Matrix:",
      confusion_matrix(y, y_pred))

Accuracy: 89.63526575390944
Confusion Matrix: [[38684  1238]
 [ 3448  1841]]